nav {
    height: 120px;
    background-color: #f48936;
    color: #FFFFFF;
    width: 100%;
    padding: 0 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav .tweeter-text {
    font-family: "Bungee", sans-serif;
    display: inline-block;
    font-size: 40px;
  }
  
  nav .write-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bungee", sans-serif;
  }
  
  nav .write-text span {
    margin-right: 0.5em;
  }
  
  nav .write-text i {
    font-size: 27px;
    color: #42abf5;
    margin-top: 6px;
    animation: bounce 0.5s infinite alternate;
    cursor: pointer;
  }
  
  nav .write {
    font-family: "Bungee", sans-serif;
    font-size: 1em;
  }
  
  nav span {
    font-size: 19px;
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-5px);
    }
  }
  
  @media only screen and (max-width: 1024px) {
    nav {
      background-color: transparent;
  
    }
  }