.new-tw {
  background-color: #f5f8fa;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 1px;
}

.new-tw h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.new-tw textarea {
  width: 90%;
  display: inline;
  border: black 1px solid;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.new-tw div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tw button {
  background-color: #42abf5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.new-tw .counter {
  font-size: 1em;
}

.counter-red {
  color: red;
}

.error-message {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: none;
}