.lower-page {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.tweet {
  margin: 50px;
  border: 5px solid black;
  border-radius: 10px;
}

.tweet header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  background-image: none;
}

.tweet-user {
  font-size: bold 1.5em;
  align-items: left;
  font-weight: bold;
  position: relative;
  bottom: 80px;
}

.tweet-handle {
  font-size: large;
  font-style: italic;
  position: relative; 
  bottom: 60px; 
  right: 40px ; 
}


.tweet header img {
  margin-left: 20px;
 }

.tweet footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 4px solid black;
}

article.tweet p,
article.tweet footer {
  padding-left: 25px;
  padding-right: 25px;
}

.tweet-icons :hover { 
  color: aqua;
  cursor: pointer;
}
.tweet {
  transition: box-shadow 0.3s ease;
}

.tweet:hover {
  box-shadow: 0 4px 8px rgba(10, 171, 240, 0.971); 
}

@media screen and (max-width: 1024px) {
  .head-down {
    flex-direction: column;
    margin-top: 0;
  }
}
